<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Reps</th>
      <th>Sets</th>
      <th>Rest Period</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <% @workout.exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.title %></td>
        <td><%= exercise.description %></td>
        <td><%= exercise.repetitions %></td>
        <td><%= exercise.sets %></td>
        <td><%= exercise.rest_period %></td>
        <td><%= exercise.example_url %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->