<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th> 
        <% if current_user.admin? %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.id, show_client_workouts_path(user_id: user.id) %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <% if current_user.admin? %>
          <td><%= link_to "Remove User", remove_client_path(user_id: user.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>